:root {
  --title-padding-y: 2.5rem;
}

/* Title Section */

#title{
  padding-top: var(--title-padding-y);
  padding-bottom: var(--title-padding-y);
  margin-bottom: 0;
  background-color: #fff;
  background-image: url("");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;

}

@media (min-width: 768px) {
  #title {
    padding-top: calc(var(--title-padding-y) * 2);
    padding-bottom: calc(var(--title-padding-y) * 2);
  }
}

.title-heading {
  font-family: "Roboto";
  font-weight: 900;
}

.search-box {
  margin: 50px auto;
  height: 45px;
  max-width: 40rem;
}

/* Navbar */
.box-shadow { box-shadow: 0 .25rem .75rem rgba(0, 0, 0, .05); }

.navbar-icon {
  margin: auto 10px;
  border-radius: 50%;
}

.navbar-home-btn {
  transition: transform .075s linear;
}

.navbar-home-btn:hover {
  transform: scale(1.1); 
}

/* Filter Section */

.filter-btn {
  width: 100px;
  margin: 20px auto;
}

.curious-btn {
  float: right;
  margin: 20px auto;
}

.filter-checkbox {
  margin: 5px auto;
}

/* Card Section */

.card-img {
  object-fit: cover;
}

.title-crop { 
  overflow: hidden; 
  white-space: nowrap; 
  text-overflow: ellipsis; 
}

.text-crop { 
  overflow:hidden; 
  white-space:normal; 
  text-overflow:ellipsis; 
  display: -webkit-box;
  -webkit-line-clamp: 3;
  -webkit-box-orient: vertical;
  max-height: 4rem;
  overflow: hidden;
}

.cut-text { 
  text-overflow: ellipsis;
  overflow: hidden; 
  white-space: normal;
}

.club-text {
  padding-bottom: 70px;
}

.card-hover {
  outline: 0 solid lightblue;
  transition: outline-width .2s linear, transform .15s linear;
}

/* (hover animation only plays on large window size) */
@media (min-width: 992px) {
  .card-hover:hover {
    outline-width: 5px;
    transform: scale(1.05); 
  }
}

/* Footer Section */

footer {
  padding-top: 3rem;
  padding-bottom: 3rem;
}

footer p {
  margin-bottom: .25rem;
}

/* Miscellaneous */

.no-url-effects, .no-url-effects:hover, .no-url-effects:visited {
  color: black;
  text-decoration: none;
}

.unselectable {
  -moz-user-select: -moz-none;
  -khtml-user-select: none;
  -webkit-user-select: none;
  -ms-user-select: none;
  user-select: none;
}
