<div class="col-lg-4 col-md-6">
    <div class="card-hover">
      <a href="#" class="no-url-effects">
        <div class="card mb-4 box-shadow">
          <!-- <div class="card-img"></div> -->
          <img class="card-img" src="./data/clubs/club-template/img/thumbnail0.png" alt="-">
          <div class="card-body">
            <h4 class="club-title title-crop">CLUB NAME</h4>
            <p class="club-text text-muted text-crop">This is a wider card with supporting text below as a
              natural lead-in to additional content. This content is a little bit longer. </p>
          </div>
        </div>
      </a>
    </div>
  </div>