<footer class="text-muted">
    <div class="container text-center">
        <p>&copy Fraser Heights Secondary School, Website design by Albert Guo, Brian Zhou, and <a href="./club.html?q=coding" class="footer-href">The Coding Club</a></p>
        <p><small>We would like to acknowledge that Fraser Heights Secondary School is located on the on the unceded traditional territory of the Katzie, Kwantlen, Semiahmoo and other Coast Salish Peoples, upon which we work, learn, and play.</small></p>
    </div>
</footer>
