<header>
    <div class="navbar navbar-expand navbar-dark bg-dark box-shadow">
      <div class="container d-flex justify-content-between">
        <a href="/#" class="navbar-brand d-flex align-items-center navbar-home-btn">
          <img src="./img/fhlogo.jpg" width="32" alt="" class="d-inline-block navbar-icon">
          FH Clubs
        </a>

        <div class="collapse navbar-collapse" id="mainNavbar">
          <ul class="navbar-nav ms-auto">
            <li class="nav-item">
              <a class="nav-link" href="/about.html#">ABOUT</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="/contact.html#">CONTACT</a>
            </li>
          </ul>
        </div>
      </div>
    </div>
</header>